h1 {
  font-size: 30px;
  text-align: center;
}
li {
  background-color: rgb(163, 76, 245);
  padding: 20px;
  font-size: 25px;
  color: white;
  width: 90%;
  margin: 20px auto;
  cursor: pointer;
}
button {
  background-color: rgb(32, 32, 249);
  color: white;
  width: 200px;
  height: 50px;
  margin: auto;
  display: block;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
}
button:hover{
    opacity: 0.8;
}