@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Varela", sans-serif;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/modal.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.btn {
  border: 0;
  background: transparent;
  font-family: inherit;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.show-btn {
  background-color: #474b4f;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.5;
}
.show-btn:hover {
  background-color: #3a3d40;
}
.modal {
  position: fixed;
  max-width: 600px;
  width: 100%;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.close-btn {
  color: #3a3d40;
  font-size: 20px;
}
.modal-title {
  margin-bottom: 10px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
.hiden {
  display: none;
}
